 img {
    width: 50%;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;  /* Fondo oscuro */
    color: #D1D1D1;  /* Texto claro */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

